<h2>Here is a form to make a new recipe</h2>

<form action="/recipes" method="post">
  title: <input type="text" name="title">
  ingredients: <input type="text" name="ingredients">
  directions: <input type="text" name="directions">
  chef: <input type="text" name="chef">
  prep_time: <input type="text" name="prep_time">
  <input type="submit" value="Make a new recipe">
</form>
